.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("../../assets/images/movies_background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.searchBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
  line-height: 50vh;
  background-image: url("../../assets/images/loading.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.searchBackground h1 {
  color: red;
  font-size: 70px;
}

@media screen and (max-width: 600px) {
  .searchBackground h1 {
    font-size: 35px;
  }
}
