@import "~antd/dist/antd.less";

.input {
  padding: 10px;
  width: 300px;
  color: #fff;
  border-radius: 30px;
  background-color: #000;
  outline: none;
}

.icon {
  font-size: 35px;
  margin: 20px;
}
